<h2>Managers</h2>
<a routerLink="/managers/new">
  <button class='btn btn-success text-white'>Add Manager</button>
</a>
<div class="artists row justify-content-center">
  <div class="card col-7" *ngFor='let manager of allManagers'>
    <div class="card-title">
      <h2><a routerLink='/managers/{{manager.id}}'>{{manager.name}}</a></h2></div>
    <div class="card-body row">
      <ul class="list-group">
        <li class="list-group-item">{{manager.email}}</li>
        <li class="list-group-item">{{manager.office_number}}</li>
        <li class="list-group-item">{{manager.cell_phone_number}}</li>
      </ul>
    </div>
    <div class="card-footer">
      <a routerLink="/managers/edit/{{manager.id}}">
        <button class="btn btn-info">Edit</button>
      </a>
      <button class='btn btn-danger' (click)="deleteManager(manager)">Delete</button>
    </div>
  </div>
</div>
